#wpadminbar #wp-admin-bar-altis > .ab-item {
	display: flex;
}

#wpadminbar #wp-admin-bar-altis > .ab-item .altis-logo-wrapper {
	flex: 1;
}

#wpadminbar .altis-env-indicator {
	background-color: #4667DE;
	display: inline-block;
	height: 1.2em;
	margin-top: 6px;
	padding: 2px 4px;
	border-radius: 4px;
	flex: 0;
	word-break: normal;
}

#wpadminbar .altis-env-indicator {
	line-height: 1.2;
}

#wpadminbar .altis-env-indicator abbr {
	line-height: inherit;
}

#wpadminbar #wp-admin-bar-altis .dashicons-before::before {
	font-size: 16px;
	vertical-align: middle;
}
