#wpadminbar .altis-env-indicator {
	background-color: #06A9CE;
	position: absolute;
	display: block;
	top: 6px;
	right: 8px;
	padding: 4px;
	border-radius: 4px;
}

#wpadminbar .altis-env-indicator,
#wpadminbar .altis-env-indicator abbr {
	line-height: normal;
}

#wpadminbar #wp-admin-bar-altis-env-stack-url a:after {
	content: "\f11f";
}
